.landing {
  @apply bg-bg;
  .nav {
    @apply flex justify-between text-[#F6F6F6] px-3 md:px-20 py-2 border border-b-primary-default border-r-0 border-l-0 border-t-0;
    padding-top: 25px
  }
  .logo {
    @apply text-[32px];
  }
  button {
    @apply bg-primary-default w-[136px] h-[44px] rounded-lg hover:bg-primary-hover hover:border hover:border-primary-default;
  }

  .hero {
    @apply md:flex md:justify-center md:items-center md:px-20 md:py-20 md:mt-0 mt-20 pb-20;
    .preview {
      @apply flex ml-8 md:justify-center md:ml-0 md:relative md:right-0;
    }
  }
  .heroTitle {
    @apply text-[32px] md:text-[64px] md:w-[667px] w-[322px] leading-[38.73px] md:leading-[77px] text-center md:text-left;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -0.05em;

    background: linear-gradient(88.79deg, #DFC6FF 23.83%, #BA85FE 60.91%, #D9BBFF 95.02%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;


    flex: none;
    order: 0;
    flex-grow: 0;
  }
  .heroFooter {
    @apply text-[#BBB8EA] text-[20px] w-[361px] md:w-[681px] md:text-[24px] mt-10 md:leading-[32px] leading-[28px] text-center md:text-left;
    font-weight: 400;
  }
}
.why {
  @apply bg-[#191832] py-10 px-5;
  .whyTitle {
    @apply text-[32px] md:text-[56px] md:w-[667px] text-center mx-auto md:mt-10;
    font-weight: 600;
    line-height: 77.45px;
    background: linear-gradient(to right, #dfc6ff, #bb87fe, #d9bbff);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
  .arrows {
    @apply hidden md:flex justify-center mt-20 space-x-5 pb-10;
    .arrow {
      @apply cursor-pointer;
    }
  }
}

.elevateText {
@apply flex-1 py-10;
  .elevateTitle {
    @apply text-[32px] md:text-[48px] leading-[38.73px] md:leading-[58.09px] w-[348px] md:w-[650px] font-semibold;
    background: linear-gradient(88.79deg, #DFC6FF 23.83%, #BE8BFF 57.94%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
  .elevateNote {
    @apply text-[#BBB8EA] md:leading-[32px] leading-[28px] md:text-[24px] md:w-[650px] w-[348px] text-[20px] py-8;
    font-weight: 500;
  }
  .startButton {
    @apply w-full;
    button {
      @apply bg-primary-default text-[#F6F6F6] h-[48px] w-[136px] rounded-lg text-[16px] hover:bg-primary-hover hover:border hover:border-primary-default;
    }
  }
}

.balanceText {
  @apply mt-[100px] md:mt-0;
  .balanceTitle {
    @apply text-[32px] md:text-[48px] md:leading-[58.09px] leading-[38px];
    font-weight: 600;
    background: linear-gradient(88.79deg, #DFC6FF 23.83%, #BE8BFF 57.94%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
}

.howTo {
  @apply bg-[#DFDEF4] py-20 md:px-20 h-[1700px] md:h-[1000px];
  .howToTitle {
    @apply w-[340px] md:text-[64px] text-[32px] md:leading-[77px] leading-[38.73px] md:w-full text-center mx-auto font-semibold;
    background: linear-gradient(88.79deg, #552B8C 23.83%, #51238C 57.94%, #774DAE 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
}

.footerHeader {
  @apply text-center font-semibold md:leading-[38px] md:text-[30px] text-[32px];
  background: linear-gradient(180deg, #CCA5FF 0%, rgba(218, 189, 255, 0.71) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}