.landing {
  @apply bg-bg;
  .nav {
    @apply flex justify-between text-[#F6F6F6] px-3 md:px-20 py-2 border border-b-primary-default border-r-0 border-l-0 border-t-0;
    padding-top: 25px
  }
  .logo {
    @apply text-[32px];
  }
  button {
    @apply bg-primary-default w-[136px] h-[44px] rounded-lg hover:bg-primary-hover hover:border hover:border-primary-default;
  }

  .hero {
    @apply md:flex md:justify-center md:items-center md:px-20 md:py-20 md:mt-0 mt-20 pb-20;
    // @apply md:px-20 flex-col md:flex-row flex justify-between md:h-[890px] py-20;
    .heroText {
      @apply flex-1 md:w-[720px] md:h-[580px] md:py-20 w-[361px] mx-auto md:mx-0 text-center md:text-start;
      font-weight: 600;
      .heroTitle {
        @apply md:text-[45px] text-[30px] md:w-[501px] md:leading-[60.45px];
        background: linear-gradient(to right, #dfc6ff, #ba85fe, #d9bbff);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
      }
      .heroFooter {
        @apply text-[#BBB8EA] text-[20px] w-[361px] md:w-[681px] md:text-[24px] mt-10 md:leading-[32px] leading-[28px];
        font-weight: 400;
      }
      .icons {
        @apply flex justify-between  mt-10 md:mt-16 md:w-[338px] w-[330px] md:mx-0 mx-auto h-[46px] mb-10;
      }
    }
    .preview {
      // @apply flex md:justify-end mx-auto justify-center w-11/12 md:h-[630px] mr-2 border;
      @apply flex md:justify-center mx-auto md:mr-0 md:mr-5 ml-20 md:ml-0 md:relative md:right-0 relative right-[-50px];
    }
  }
}
.why {
  @apply bg-[#191832] py-20 px-5;
  .whyTitle {
    @apply text-[22px] md:text-[34px] md:w-[667px] text-center mx-auto md:mt-20;
    font-weight: 600;
    line-height: 77.45px;
    background: linear-gradient(to right, #dfc6ff, #bb87fe, #d9bbff);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
  .whyDescription {
    @apply md:w-[700px] w-[400px] text-[#BBB8EA] text-[20px] md:text-[18px] text-center mx-auto;
  }
  .whyCards {
    @apply md:space-x-4 px-20 md:px-0 md:flex md:ml-20 mt-20 overflow-x-scroll scrollbar-hide md:w-[78%];
    .whyCard {
      @apply border-[#2C2A56] border rounded-xl py-[48px] md:pl-[45px] px-[30px] md:pr-[50px] w-[290px] h-[319px] md:w-[590px] md:h-[415px] mb-4 md:mb-0;
      .whyCardLogo {
        @apply bg-[#0D0C27] h-[99.2px] md:h-[90px] w-[99.2px] md:w-[90px] rounded-xl flex justify-center;
      }
      .whyCardTitle {
        @apply mt-3 text-[22px] md:text-[21.7px] text-[#CECCEF] w-[240px] md:w-[204px];
        font-weight: 600;
      }
      .whyCardDescription {
        @apply text-[#BBB8EA] mt-4 text-[12px] md:text-[18px] md:leading-[33px] w-[220px] md:w-[285px];
        font-weight: 400;
      }
    }
  }
  .arrows {
    @apply hidden md:flex justify-center mt-20 space-x-5 pb-10;
    .arrow {
      @apply cursor-pointer;
    }
  }
}

.elevate {
  @apply md:h-auto h-[1000px];
  @apply bg-bg md:h-[700px] flex md:flex-row flex-col;
  .elevateText {
    @apply flex-1 flex flex-col items-center justify-center md:pr-[100px] md:mt-[30px] md:relative md:left-0 md:right-0 md:top-0 md:bottom-0 absolute left-20 mt-[600px];
    .elevateTitle {
      @apply text-[22px] md:text-[32px] leading-[26.73px] md:leading-[40.09px] w-[270px] md:w-[450px];
      font-weight: 600;
      background: linear-gradient(to right, #dfc6ff, #be8bff);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
    }
    .elevateNote {
      @apply text-[#BBB8EA] md:leading-[32px] md:text-[20px] mt-5 md:w-[450px] w-[270px];
      font-weight: 500;
    }
    .startButton {
      @apply bg-primary-default w-[116px] h-[44px] text-[#F6F6F6] rounded-lg mt-5 hover:bg-primary-hover hover:border hover:border-primary-default md:relative md:right-[165px] relative right-[75px];
    }
  }
  .elevatePhone {
    @apply flex-1 flex flex-col items-center justify-center md:mt-[250px] md:relative md:left-0 md:right-0 md:top-0 md:bottom-0 absolute left-[150px] mt-[100px] ;
  }
}

.balance {
  @apply bg-bg md:h-[1090px] h-[1200px] md:flex md:flex-row ;
  .balancePhone {
    @apply flex-1 flex flex-col items-center justify-center md:py-0 md:pr-[300px] ml-[-140px] md:ml-0;
  }
  .balanceText {
    @apply flex-1 flex-col items-center justify-center flex mt-[90px] md:mt-20 md:w-[358px] w-[500px] md:pr-[100px];
    .balanceTitle {
      @apply text-[32px] md:text-[38px] md:leading-[41.09px] md:w-[573px] w-[400px] leading-[38px];
      font-weight: 600;
      background: linear-gradient(to right, #dfc6ff, #be8bff);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
    }
    .balanceList {
      @apply md:w-[573px] w-[400px] mt-8;
    }
    .startButton {
      @apply bg-primary-default w-[136px] h-[44px] text-[#F6F6F6] rounded-lg mt-5 hover:bg-primary-hover hover:border hover:border-primary-default;
    }
  }
}

.howTo {
  @apply md:h-[1000px] h-[1700px] bg-[#DFDEF4] md:py-40 py-20;
  .howToTitle {
    @apply md:text-[50px] text-[32px] md:text-center md:w-auto w-[390px] text-center ml-[20px];
    font-weight: 600;
    font-weight: 600;
      background: linear-gradient(to right, #552B8C, #51238C, #774DAE);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
  }
  .howToBody {
    @apply flex md:flex-row flex-col;
    .howToText {
      @apply flex-1 flex flex-col justify-center items-center py-20 ;
      .howToGroup {
        @apply flex mb-11 md:relative md:top-0 md:right-0 relative top-[600px] right-[45px];
        font-weight: 500;
        .howList {
          @apply ml-5 md:w-[454px] w-[370px] text-[#667085]
        }
      }
      .howIcons {
        @apply flex md:flex-row flex-col md:relative md:top-0 md:right-0 relative top-[600px] right-[50px] md:w-[400px] w-[300px];
        .black {
          @apply md:mt-0 mt-5;
        }
      }
    }
    .howToPhoto {
      @apply flex-1 py-20 flex justify-center md:relative absolute;
      .howPhotoContainer {
        @apply bg-[#4A41C7] md:h-[560px] md:w-[560px] h-[550px] w-[400px] flex items-end justify-center rounded-2xl md:relative left-0 relative left-10;
      }
    }
  }
}

.footer {
  @apply bg-[#0F0D2C] md:h-[459px] h-[600px];
  .footerStarted {
    @apply md:text-[32px] text-[32px] md:w-auto w-[300px] text-center md:relative md:left-0 relative left-[150px];
    color: rgb(203, 170, 230);
  }
  .footerBorder {
    @apply md:w-[1280px] w-[330px] border-t border-[#475467] mx-auto mt-16 flex md:justify-between
  }
  .rights {
    @apply mt-8 text-[#FFF] text-[16px] md:relative md:top-0 md:left-0 relative top-[150px] left-[40px];
  }
  .options {
    @apply flex md:flex-row flex-col mt-8 text-[#FFF] md:space-x-5 md:space-y-0 space-y-5 md:relative md:right-0 absolute right-[200px]
  }
}
@media (max-width: 390px) {
  .landing {
    .nav {
      @apply py-3;
      .logo {
        @apply text-[22px];
      }
      button {
       @apply relative 
      }
    }
    .hero {
      flex-direction: column;
      justify-content: center;
      .heroText {
        .heroTitle {
          text-indent: 40px;
          text-align: center;
        }
        .heroFooter {
          text-align: center;
        }
        .icons {
          width: 90%;
          .play {
            margin-left: 15px;
          }
        }
      }
      .preview {
        right: 45px;
        position: relative;
  margin-bottom: 10px;
      }
    }
  
  }
  .why {
    .whyDescription {
      width: 100%;
    }
    .whyCards {
      .whyCard{
        position: relative;
        right: 35px;
      }
    }
  }
  .elevate {
    .elevateText {
      margin-left: -44px;
    }
    .elevatePhone {
      position: absolute;
      left: 100px;
    }
   
  }
  .balance {
    @apply h-[1250px];
    .balancePhone {
      width: 390px;
      margin-left: -2px;
    }
    .balanceText {
      width: 390px;
      position: relative;
      right: 38px;
      .balanceTitle {
        width: 260px;
        font-size: 23px;
        line-height: 26px;
        font-weight: 700;
      }
      .balanceList {
        width: 70%;
      }
    }
  }
  .howTo{
    width: "390px";
    height: 1900px;
    .howToTitle {
      font-size: 29px;
      width: 340px
    }
    .howToBody{
      .howToPhoto {
        .howPhotoContainer {
          @apply h-[550px] w-[350px];
          position: relative;
          left: 20px;
        }
      }
      .howToText{
        .howIcons {
          @apply w-[143px];
        }
        .howToGroup {
          .howList {
            @apply w-[210px]
          }
        }
      }
    }
  }
  .footer {
    height: 700px;
    .footerStarted {
      position: relative;
     left: 50px;
     
    }
    
    .rights {
      @apply relative right-[-20px]
    }
    .options {
      @apply absolute left-[180px]
    }
      }
    
    }
   
