.landing {
  @apply bg-bg;
  .nav {
    @apply flex justify-between text-[#F6F6F6] px-3 md:px-20 py-5 border border-b-primary-default border-r-0 border-l-0 border-t-0;
  }
  .logo {
    @apply text-[32px];
  }
  button {
    @apply bg-primary-default w-[136px] h-[44px] rounded-lg hover:bg-primary-hover hover:border hover:border-primary-default;
  }

  .hero {
    @apply md:flex md:justify-center md:items-center md:px-20;
    // @apply md:px-20 flex-col md:flex-row flex justify-between md:h-[890px] py-20;
    .heroText {
      @apply flex-1 md:w-[720px] md:h-[580px] md:py-20 w-[361px] mx-auto md:mx-0 text-center md:text-start;
      font-weight: 600;
      .heroTitle {
        @apply text-[32px] md:text-[64px] md:w-[667px] md:leading-[77.45px];
        background: linear-gradient(to right, #dfc6ff, #ba85fe, #d9bbff);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
      }
      .heroFooter {
        @apply text-[#BBB8EA] text-[20px] w-[361px] md:w-auto md:text-[24px] mt-10 md:leading-[32px] leading-[28px];
        font-weight: 400;
      }
      .icons {
        @apply flex justify-between md:w-1/2 mt-8 md:mt-16 w-[338px] md:mx-0 mx-auto h-[46px] mb-10;
      }
    }
    .preview {
      // @apply flex md:justify-end mx-auto justify-center w-11/12 md:h-[630px] mr-2 border;
      @apply flex justify-center mx-auto md:mr-0 mr-5;
    }
  }
}
.why {
  @apply bg-[#191832] py-20 overflow-x-hidden px-5;
  .whyTitle {
    @apply text-[32px] md:text-[64px] md:w-[667px] text-center mx-auto;
    font-weight: 600;
    line-height: 77.45px;
    background: linear-gradient(to right, #dfc6ff, #bb87fe, #d9bbff);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
  .whyDescription {
    @apply md:w-[879px] text-[#BBB8EA] text-[20px] md:text-[24px] text-center mx-auto;
  }
  .whyCards {
    @apply md:space-x-4 md:flex md:ml-20 mt-20 overflow-x-scroll md:w-[110%];
    .whyCard {
      @apply border-[#2C2A56] border rounded-xl py-[48px] px-[30px] w-[340px] md:w-[415px] mb-4 md:mb-0;
      .whyCardLogo {
        @apply bg-[#0D0C27] h-[99.2px] md:h-[124px] w-[99.2px] md:w-[124px] rounded-xl flex justify-center;
      }
      .whyCardTitle {
        @apply mt-3 text-[24px] md:text-[32px] text-[#CECCEF] md:w-2/3;
        font-weight: 600;
      }
      .whyCardDescription {
        @apply text-[#BBB8EA] mt-4 text-[16px] md:text-[24px] md:leading-[32px];
        font-weight: 400;
      }
    }
  }
  .arrows {
    @apply hidden md:flex justify-center mt-20 space-x-5 pb-10;
    .arrow {
      @apply cursor-pointer;
    }
  }
}

.elevate {
  @apply bg-bg h-[1090px] flex;
  .elevateText {
    @apply flex-1 flex flex-col items-center justify-center md:pl-20 pt-10;
    .elevateTitle {
      @apply text-[32px] md:text-[48px] leading-[38.73px] md:leading-[58.09px] w-[348px] md:w-[573px];
      font-weight: 600;
      background: linear-gradient(to right, #dfc6ff, #be8bff);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
    }
    .elevateNote {
      @apply text-[#BBB8EA] leading-[32px] text-[24px] mt-5 w-[573px];
      font-weight: 500;
    }
  }
  .elevatePhone {
    @apply flex-1 flex flex-col items-center justify-center mt-20;
  }
}

.balance {
  @apply bg-bg h-[1090px] md:flex md:flex-row;
  .balancePhone {
    @apply flex-1 flex flex-col items-center justify-center;
  }
  .balanceText {
    @apply flex-1 flex-col items-center justify-center flex mt-10 md:mt-20 w-[358px];
    .balanceTitle {
      @apply text-[32px] md:text-[48px] md:leading-[58.09px] w-[573px] leading-[38px];
      font-weight: 600;
      background: linear-gradient(to right, #dfc6ff, #be8bff);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
    }
    .startButton {
      @apply bg-primary-default w-[136px] h-[44px] text-[#F6F6F6] rounded-lg mt-5 hover:bg-primary-hover hover:border hover:border-primary-default;
    }
  }
}

.howTo {
  @apply h-[1248px] bg-[#DFDEF4] py-40;
  .howToTitle {
    @apply md:text-[64px] text-[32px] text-center;
    font-weight: 600;
    font-weight: 600;
      background: linear-gradient(to right, #552B8C, #51238C, #774DAE);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
  }
  .howToBody {
    @apply flex;
    .howToText {
      @apply flex-1 flex flex-col justify-center items-center py-20;
      .howToGroup {
        @apply flex mb-11;
        font-weight: 500;
      }
      .howIcons {
        @apply flex;
      }
    }
    .howToPhoto {
      @apply flex-1 py-20 flex justify-center;
      .howPhotoContainer {
        @apply bg-[#4A41C7] h-[560px] w-[560px] flex items-end justify-center rounded-2xl;
      }
    }
  }
}

.footer {
  @apply bg-[#0F0D2C] h-[459px];
}
